:root {
    --page-bkgd:#fff;
    --dark-bkgd:#333;
    --accent:#ebc41b;
    --font-headline: 'Anton', sans-serif;
    --font-serif:'IM Fell DW Pica', serif;
    --font-slab: 'Hepta Slab', serif;
    --font-block: 'Diplomata', cursive;
    --font-serif-headline: 'Wildstone','Old Standard TT', serif;
    --font-thin-headline: 'Barlow Condensed', sans-serif;
    --font-thin-slab: 'Stint Ultra Expanded', cursive;
    --font-gothic:'UnifrakturMaguntia', cursive;
    --font-typewriter: "American Typewriter Condensed Bold", Courier, sans-serif;
    --font-regular-headline:'Fjalla One', sans-serif;
    --font-thin-shadowed: "Greething";
}

@font-face {
    font-family: 'Wildstone';
    src: url('fonts/Wildstone.ttf')  format('truetype'); /* Legacy iOS */
}


html {}

body {
    margin:0;
    padding:0rem 4vw;
    font-family: var(--font-serif);
    font-size:110%;
    color:var(--dark-bkgd);
}

* {
    box-sizing: border-box;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

img {
    max-width:100%;
}

p:first-child {
    margin-top:0;
}

p:last-child {
    margin-bottom:0;
}

hr {
    height:1rem;
    background:var(--dark-bkgd);
    color:var(--dark-bkgd);
    border-top: 4px double #fff;
    padding: 1px 0;
    border-left: none;
    border-right: none;
    border-bottom: 4px double #fff;
}

.blockLetter {
    font-family:var(--font-block);
    font-size: 8rem;
    line-height: 0.75!important;
    float:left;
    margin:0 1rem 0 0!important;
}

.initial-letter {
    font-family:var(--font-block);
    font-size:5em;
    float: left;
    line-height: 0.875;
    margin-right:0.25rem;
}

/* ########## HEADER ########## */
header {
    position:relative;
    padding-top:1rem;
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "line-top line-top"
        "shield title"
        "shield tagline"
        "line-bottom line-bottom";
}

header .number {
    position: absolute;
    background-color: var(--dark-bkgd);
    color: var(--page-bkgd);
    padding: .5rem .5rem .25rem;
    top: 0;
    right: 3vw;
    font-family: var(--font-serif);
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 2.5rem;
    width:4.25rem;
}

header .number:after {
    position: absolute;
    content: "";
    bottom: -.5rem;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.25rem .5rem 0;
    border-color: transparent var(--dark-bkgd) transparent transparent;
}

header .slogan {
    display:none;
}

header .line {
    width:100%;
    display:block;
    margin:1rem 0;
    text-align:center;
    position:relative;
    height:0;
}

header .line:before,
header .line:after {
    content:"";
    height:3px;
    background:var(--dark-bkgd);
    display:block;
    margin-bottom:1px;
    position:absolute;
    top:0;
    width:100%;
}

header .line:after {
    height:1px;
    top:4px;
}

header .line.top {
    grid-area: line-top;
}

header .line.top .the {
    background:var(--page-bkgd);
    display:inline-block;
    padding:.25rem .5rem 0;
    line-height:1;
    transform: translateY(-50%);
    font-family: var(--font-block);
    text-transform: uppercase;
    position:relative;
    z-index: 2;
}

header .shield {
    grid-area: shield;
    margin-right:.5rem;
    margin-top:-.5rem;
}

header h1 {
    grid-area:title;
    margin:0;
    font-size:0;
    line-height:1;
    align-self:end;
    padding-bottom:.5rem;
}

header .tagline {
    grid-area: tagline;
    font-family:var(--font-thin-slab);
    text-transform:uppercase;
    font-size:2.5vw;
    line-height:1;
    text-align:center;
}

header .line.bottom {
    grid-area: line-bottom;
   
}
header .line.bottom:before {
    top:2px;
}
header .line.bottom:after {
    top:0;
}

/* ########## INTRO ########## */
aside#page-intro {
    display:grid;
    grid-template-areas:
        "bounty bounty"
        "weather zodiac"
        "edition edition"
        "lucky-numbers price";
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:1.5em;
}

aside#page-intro .bounty {
    grid-area: bounty;
}

aside#page-intro .bounty a {
    display:block;
    color:var(--page-bkgd);
    text-decoration:none;
    padding:.5rem;
    background:var(--dark-bkgd);
    margin-bottom:1rem;
}

aside#page-intro .bounty a:hover,
aside#page-intro .bounty a:focus {
    color:var(--dark-bkgd);
    background-color:var(--accent);
}

aside#page-intro .bounty .bountyWrap {
    border:2px solid var(--page-bkgd);
    padding:1rem;
    display:grid;
    grid-template-areas:
        "amount details"
        "currency details"
        "bounty-name1 bounty-name1";
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1em;
}

aside#page-intro .bounty .amount {
    grid-area: amount;
    font-family:var(--font-thin-headline);
    font-size: 21vw;
    line-height: 0.95;
    letter-spacing: -1px;
    margin-top: -0.5rem;
    text-shadow: 2px 2px 0px var(--dark-bkgd), 4px 4px 0px rgba(255,255,255,0.5);
    align-self: center;
    text-align: justify;
    text-justify: inter-character;
    text-align-last: justify;
}

aside#page-intro .bounty .currency {
    grid-area: currency;
    font-family:var(--font-thin-headline);
    font-weight:bold;
    text-transform:uppercase;
    text-align: justify;
    text-justify: inter-character;
    text-align-last: justify;
    font-size:5.5vw;
    /* writing-mode: vertical-lr;
    transform: rotate(-180deg); */
}

aside#page-intro .bounty .bountyName1,
aside#page-intro .bounty .bountyName2 {
    font-family:var(--font-headline);
    text-transform:uppercase;
    font-size:11.5vw;
    line-height:1;
}

aside#page-intro .bounty .bountyName1 {
    grid-area: bounty-name1;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
    margin-top: .15em;
}

aside#page-intro .bounty .bountyName2 {
    display:none;
}

aside#page-intro .bounty .details {
    grid-area: details;
    background: rgba(255,255,255,0.1);
    padding: .5rem;
    display: flex;
    align-items: center;
    font-family: var(--font-thin-headline);
    line-height: 1;
    font-size: 5vw;
    letter-spacing: 1px;
}

aside#page-intro .weather {
    grid-area: weather;
    font-size:1rem;
}

aside#page-intro .zodiac {
    grid-area:zodiac;
    font-size:1rem;
}

aside#page-intro .weather h2,
aside#page-intro .zodiac h2 {
    margin:0 0 .25rem;
    font-family: var(--font-serif-headline);
    font-size: 5.25vw;
    font-weight:normal;
}

aside#page-intro .weather dl {
    margin:.5rem 0 0;
    font-family: var(--font-gothic);
    /* display: grid;
    grid-gap: .5em 1.25em;
    grid-template-columns: repeat(2, 1fr); */
}

aside#page-intro .weather dl div {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

aside#page-intro .weather dl div + div {
    margin-top:.35rem;
}

aside#page-intro .weather dl div dt {}

aside#page-intro .weather dl div dd {
    margin:0;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
}

aside#page-intro .zodiac p {
    margin:0;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
}

aside#page-intro .edition {
    grid-area: edition;
    margin-top:1rem;
    margin-bottom:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    border-top:3px double var(--dark-bkgd);
    border-bottom:3px double var(--dark-bkgd);
    display:grid;
    grid-template-areas: 
        "title editor"
        "number editor"
        "today editor";
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1em;
}

aside#page-intro .edition h2 {
    grid-area: title;
    font-size: 5.5vw;
    font-family: var(--font-thin-headline);
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: normal;
    margin: 0 0 .5rem;
    text-align: justify;
    text-justify: inter-character;
    text-align-last: justify;
}

aside#page-intro .edition p {
    margin:0;
}

aside#page-intro .edition .editionNum {
    grid-area:number;
    display:block;
    font-family:var(--font-gothic);
    font-size: 4vw;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
}

aside#page-intro .edition .editionNum .number {
    font-family:var(--font-thin-slab);
}

aside#page-intro .edition .today {
    grid-area:today;
    display:block;
    font-family:var(--font-gothic);
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
}

aside#page-intro .edition .today .sans {
    font-family:var(--font-thin-slab);
    text-transform:uppercase;
}

aside#page-intro .edition .editor {
    grid-area:editor;
    display:block;
    font-family:var(--font-gothic);
    font-size:3.5vw;
}

aside#page-intro .lucky-numbers {
    grid-area:lucky-numbers;
    font-size:3vw;
    line-height:1;
    text-align: justify;
    text-justify: inter-word;
    white-space: nowrap;
    text-align-last: justify;
    font-family: var(--font-gothic);
}

aside#page-intro .lucky-numbers ul {
    margin:0;
    padding:0;
    list-style:none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside#page-intro .lucky-numbers ul li + li {
    margin-top:.35rem;
}

aside#page-intro .price {
    grid-area: price;
    position:relative;
}
aside#page-intro .price .value {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12vw;
    height: 12vw;
    background: #000;
    color: #fff;
    z-index: 1;
    border-radius: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transform: translateX(-50%) translateY(-50%);
}
aside#page-intro .price .burst {
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-image:url(images/price.svg);
    background-size:cover;
    background-position: center;
}

/* ########## MAIN WRAPPER ########## */
#mainWrap {
    border:.125rem solid var(--dark-bkgd);
    margin-top:1rem;
    padding:1rem;
}

/* ########## MAIN FEATURE ARTICLE ########## */
#main .opening {
    display:flex;
    gap:1rem;
}
#main .opening .exclusive {
    background-color:var(--dark-bkgd);
    color:var(--page-bkgd);
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem .75rem;
    justify-content: center;
    flex-direction:column;
}

#main .opening .exclusive .inner {
    font-family: var(--font-thin-headline);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 0.9;
    position: relative;
    text-shadow: 2px 2px 0px var(--dark-bkgd), 3px 4px 0px rgba(255,255,255,0.5);
}

#main .opening .exclusive .finger {
    display:none;
}
#main .opening .text {
    border-bottom:0.25rem solid var(--dark-bkgd);
    width:100%;
    text-align:justify;
    text-justify: inter-character;
    font-family:var(--font-serif-headline);
    text-transform: uppercase;
    letter-spacing: -0.15vw;
    text-align-last: justify;
    font-size: 5vw;
    line-height: 1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display:block;
}

#main .title {
    text-align:center;
    text-transform:uppercase;
    font-family: var(--font-headline);
    font-weight:700;
    text-align-last: justify;
    text-justify: inter-character;
    line-height:1;
    margin:.5rem 0;
}

#main .title.line1{
    font-size: 11vw;
    line-height:1;
    display:block;
}

#main .title.line2{
    font-family:var(--font-slab);
    font-size: 9vw;
    display:block;
    margin:0.75rem;
}

#main .title.line3{
    font-size:19.5vw;
    display:block;
    margin-bottom:1rem;
}

#main .img {
    border-bottom:0.65rem var(--dark-bkgd) solid;
    padding-bottom:0.25rem;
    margin-bottom:1rem;
}

#main .img img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

#main .author {
    writing-mode:vertical-lr;
    transform: rotate(-180deg);
    text-align:right;
    font-family:var(--font-headline);
    text-transform:lowercase;
    float:left;
    padding:.25rem 0 .25rem 1rem;
    line-height:1;
    margin-left: -1vw;
}

#main .author .finger {
    font-size:2rem;
    line-height:0;
}

#main .lede {
    font-family:var(--font-headline);
    text-transform:uppercase;
    font-size: 7.5vw;
    line-height: 1;
    display:block;
    margin-bottom:1rem;
    text-align: justify;
    text-justify: inter-character;
    text-align-last: justify;
}

#main .lede .finger {
    position: relative;
    top: -0.25rem;
    font-size: 2.5rem;
    margin-right:.25rem;
}

#main .escape {
    display:none;
}

#main .txt1 {
    font-size:1.25em;
    font-style:italic;
    text-align:justify;
}

#main .txt2,
#main .txt3,
#main aside.leftSide {
    text-align:justify;
}

#main .txt3 {
    margin-top:1rem;
}

.fullReport {
    border-bottom:0.5rem double var(--dark-bkgd);
    margin-bottom:1rem;
}

#main .fullReport a {
    background:var(--dark-bkgd);
    color:var(--page-bkgd);
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    padding:1rem;
    margin:1rem 0;
    text-decoration:none;
    outline-offset:-.5rem;
}

#main .fullReport a:hover,
#main .fullReport a:focus {
    background-color:var(--accent);
    color:var(--dark-bkgd);
    outline:2px solid var(--dark-bkgd);
}

.fullReport a .txt {
    font-family:var(--font-thin-headline);
    font-size:2.5rem;
    text-shadow: 1px 1px 0px var(--dark-bkgd), 3px 3px 0px rgba(255,255,255,0.5);
}

.fullReport a .pageNo {
    font-family:var(--font-regular-headline);
}

.subLine2mobile {
    display: flex;
    font-family: var(--font-slab);
    text-transform: uppercase;
    font-size: 12.5vw;
    line-height: 1;
    align-items: center;
    text-align-last: justify;
    text-justify: inter-character;
}

.subLine2mobile span {
    font-family: var(--font-thin-slab);
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 6vw;
}

.subLine2 {
    display:none;
}

.subLine3 {
    text-align-last: justify;
    text-justify: inter-character;
    font-family: var(--font-regular-headline);
    text-transform: uppercase;
    padding-left: 0;
    font-size: 9vw;
}

.subLine3 .finger {
    font-size: 16vw;
    line-height: 0;
}

.subText1,
.subText2,
.subText3,
.subText4 {
    text-align:justify;
    margin:0.5rem 0;
}

.subText1 {
    font-size:1.15em;
    font-style:italic;
}

.subText1 .large {
    display:none;
}

.sub2Line1 {
    font-size: 16vw;
    line-height: 1;
    font-family: var(--font-serif-headline);
    text-transform: uppercase;
    letter-spacing: -0.25vw;
    text-align: justify;
    text-justify: inter-character;
    text-align-last: justify;
    width:100%;
    margin-top:1rem;
}

.sub2Line1 hr {
    margin: 0 0 1.5rem;
}

.sub2Line2 {
    text-transform:uppercase;
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
}

.sub2Line2 .line1 {
    display:block;
    text-align: justify;
    text-justify: inter-character;
    text-align-last: justify;
    font-size:9vw;
    line-height:1;
    font-family:var(--font-thin-slab);
}

.sub2Line2 .line2 {
    display:block;
    text-align: justify;
    text-justify: inter-character;
    text-align-last: justify;
    font-family:var(--font-serif-headline);
    font-size: 10vw;
    line-height: 1;
    /* margin-top: 0.5rem; */
}

.sub2Line3 {
    font-family: var(--font-regular-headline);
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    /* border-bottom: 0.4rem solid #000; */
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
    background-color:var(--dark-bkgd);
    float:right;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
}

.sub2Line3 a {
    color:#fff;
    padding: 0.75rem 1rem;
    display: block;
    text-decoration:none;
}

.sub2Line3 a:hover,
.sub2Line3 a:focus {
    background-color:var(--accent);
    color:var(--dark-bkgd);
}

.readers-offers a {
    text-decoration:none;
    display:block;
    background-color:var(--dark-bkgd);
    color:#fff;
    padding:1rem;
    display:flex;
    align-items:center;
    height:100%;
    margin: 1rem 0 2rem;
    outline-offset:-.5rem;
}

.readers-offers a:hover,
.readers-offers a:focus {
    background-color:var(--accent);
    color:var(--dark-bkgd);
    outline:2px solid var(--dark-bkgd);
}

.readers-offers .small {
    font-family:var(--font-regular-headline);
    display:block;
    margin: 0.25rem;
}

.readers-offers .large {
    font-size:3rem;
    text-shadow: 1px 1px 0px var(--dark-bkgd), 3px 3px 0px rgba(255,255,255,0.5);
    font-family:var(--font-thin-headline);
    line-height:0.875;
    text-transform:uppercase;
    text-align-last: justify;
    text-justify: inter-character;
}

.readers-offers a:hover .large,
.readers-offers a:focus .large {
    text-shadow: 1px 1px 0px var(--accent), 3px 3px 0px rgba(255,255,255,0.95);
}

.readers-offers .pageNo {
    font-family:var(--font-regular-headline);
    font-size:1.5rem;
    display:inline-block;
}

/* ########## FOOTER ########## */

#footerNav ul {
    margin:1rem 0 0;
    padding:0;
    list-style:none;
    display:flex;
    justify-content: center;
    position:relative;
    flex-wrap:wrap;
}

#footerNav ul:after {
    /* content:""; */
    height:0.75rem;
    background-color:var(--dark-bkgd);
    position:absolute;
    left:0;
    width:100%;
    top:50%;
    transform:translateY(-50%);
}

#footerNav ul li {
    background-color:var(--page-bkgd);
    position:relative;
    margin:0 0 0 .5rem;
}

#footerNav ul li:first-child {
    margin-left:0;
}

#footerNav ul li:last-child {
    padding-right:0;
}

#footerNav ul li a {
    text-decoration:none;
    color:#000;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 1px #fff;
    padding:.5rem;
}
#footerNav ul li a:hover {
    background-color:var(--accent);
}
#footerNav ul li a:focus {
    outline:4px solid var(--accent);
}

#footerNav ul li .label {
    font-family:var(--font-regular-headline);
    font-size: 1rem;
    text-transform: lowercase;
    line-height: normal;
    margin-right:0.5rem;
}
#footerNav ul li .pageNo {
    font-family:var(--font-serif-headline);
    font-size: 2.5rem;
    line-height: 1;
}

footer {
    text-align:center;
    font-style:italic;
    padding-top:2rem;
}

@media (min-width:800px) {
    body {
        font-size:120%;
    }
    header .tagline {
        font-size:3vw;
    }
    aside#page-intro {
        grid-template-areas:
            "bounty bounty bounty bounty bounty bounty price"
            "weather weather zodiac zodiac lucky-numbers edition edition";
        grid-template-columns: repeat(6, 1fr) 15vw;
        grid-row-gap: 1em;
        grid-column-gap:1em;
    }
    aside#page-intro .bounty a {
        margin:0;
    }
    aside#page-intro .bounty .bountyWrap {
        grid-template-areas: 
            "amount currency bounty-name1 bounty-name1" 
            "amount currency bounty-name2 details";
        grid-template-columns: 2fr auto auto auto;
        padding: 0.75rem 1rem;
    }
    aside#page-intro .bounty .amount {
        font-size:15vw;
        margin-top: -1rem;
    }
    aside#page-intro .bounty .currency {
        font-size:2.5vw;
        line-height:.75;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        letter-spacing: 2px;
        align-self: center;
    }
    aside#page-intro .edition {
        display:block;
    }
    aside#page-intro .bounty .bountyName1, 
    aside#page-intro .bounty .bountyName2 {
        font-size:5.5vw;
        margin:0;
        text-align-last: auto;
    }
    aside#page-intro .bounty .bountyName1 .mobile {
        display:none;
    }
    aside#page-intro .bounty .bountyName2 {
        display:block;
    }
    aside#page-intro .bounty .details {
        font-size:2.25vw;
        padding:0;
        background:none;
        display:block;
    }

    aside#page-intro .weather h2, 
    aside#page-intro .zodiac h2 {
        font-size:2.5vw;
        text-align:justify;
        text-justify: inter-character;
        text-align-last: justify;
    }

    aside#page-intro .edition {
        border:none;
        margin:0;
        padding:0;
        flex-direction: column;
        justify-content: space-between;
    }

    aside#page-intro .edition h2 {
        font-size:2.5vw;
    }

    aside#page-intro .edition .editionNum {
        font-size:1.75vw;
    }

    aside#page-intro .edition .today {
        font-size:2vw;
    }

    aside#page-intro .edition .editor {
        font-size:1.5vw;
    }

    aside#page-intro .lucky-numbers {
        font-size:1.5vw;
    }

    #mainWrap {
        border-width:.5rem;
        padding:1.5rem;
    }

    #main {
        display:grid;
        grid-template-columns:1fr 2fr 1fr 1fr;
        /* grid-template-rows:; */
        grid-column-gap: 1rem;
    }

    #main .opening {
        grid-column: 1 / -1;
    }

    #main .opening .exclusive {
        flex-direction:row;
    }

    #main .opening .exclusive .finger {
        display:block;
        font-size: 8vw;
        line-height: 0;
    }
    #main .opening .exclusive .inner {
        font-size:6vw;
    }

    #main .title.line1,
    #main .title.line3,
    #main .txt2,
    #main .txt3,
    .subText1, 
    .subText2, 
    .subText3, 
    .subText4,
    .sub2Line1,
    .sub2Line2,
    .sub2Line3,
    .sub2Text,
    .readers-offers {
        grid-column:1 / -1;
    }
    #main .title.line2 {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    #main .txt1 {
        grid-column-start:3;
        grid-column-end:5;
        grid-row-start:3;
        grid-row-end: 4;
        align-self: center;
        line-height: 1;
    }

    #main .img {
        grid-column: 1 / 3;
        margin:0;
    }

    #main .lede {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: .5rem 0 1rem;
        font-size: 2.75vw;
    }

    #main .lede .finger {
        font-size:5vw;
        line-height:1;
    }

    #main .author {
        margin-left:0;
    }

    #main .txt2 {
        grid-column: 3 / 5;
    }

    #main .txt2 p:first-of-type {
        margin-top:0;
    }

    #main .txt3 {
        grid-column: 2 / 5;
        grid-row: 7 / 8;
        margin:0;
    }

    #main aside.leftSide {
        grid-column: 1 / 2;
        grid-row: span 4;
        padding-top:1.5rem;
    }

    #main aside.leftSide hr {
        display:none;
    }

    .fullReport {
        grid-column: 1;
        grid-row: span 2;
    }

    .fullReport a .txt {
        font-size: 3vw;
        line-height:1;
    }

    #main .fullReport a {
        justify-content: center;
    }

    .subLine2mobile {
        grid-column:2/5;
        grid-row:8 / 10;
        font-size:9vw;
        border-top: 1rem solid var(--dark-bkgd);
        margin-top: 1rem;
        padding-top:1.25rem;
    }

    .subLine2mobile span {
        font-size:5vw;
    }

    .subLine3 {
        grid-column:2/5;
        font-size:7vw;
        grid-row: 10;
    }

    .subLine3 .finger {
        font-size:10vw;
    }

    .subText1 {
        grid-column: 2/ 5;
        font-size: 2vw;
        text-align: justify;
        /* grid-row: span 2; */
    }

    .sub2Line2 {
        display:block;
    }

    .subText3 {
        column-count:2;
    }

    .sub2Line1 {
        grid-column: 1 / 3;
        font-size: 10vw;
        margin:0;
        line-height: .75;
        padding-top: 1rem;
    }

    .sub2Line1 hr {
        display:none;
    }

    .sub2Line2 {
        grid-column: 1 / 3;
        font-size: 10vw;
        grid-row: span 2;
    }

    .sub2Line2 .line1 {
        font-size:7.5vw;
    }

    .subStory.sub2Text {
        grid-column: 3 / 5;
        grid-row: 15 / 17;
        align-self: end;
        padding-bottom:1rem;
    }

    .subStory.sub2Line3 {
        grid-column: 3 / 5;
        grid-row: 17;
        margin:0;
    }
    .subText4 {
        border-bottom: .75rem solid var(--dark-bkgd);
        padding-bottom: 1rem;
        grid-row: 14;
        grid-column: 1 / 4;
    }

    .readers-offers {
        grid-column: 4;
        grid-row: 14;
    }

    .readers-offers a {
        margin:0;
    }
    #footerNav ul {
        margin-top:1.5vw;
        position:relative;
        display: flex;
        justify-content: space-between;
    }
    #footerNav ul:after {
        content:"";
        height:.875rem;
        background-color:var(--dark-bkgd);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    #footerNav ul:before {
        content:"";
        width:5%;
    }
    #footerNav ul li {
        background-color:var(--page-bkgd);
        position: relative;
        z-index: 1;
    }
    #footerNav ul li a {
        padding: 0.5rem 1rem;
        line-height: 1;
    }
    #footerNav ul li .label {
        font-size:2vw;
    }
    #footerNav ul li .pageNo {
        font-size:4vw;
    }
    #footerNav ul li:last-child {
        margin-right:-5px;
    }
}
@media (min-width:1100px) {
    body {
        font-size:112.5%;
    }
}
@media (min-width:1400px) {
    body {
        font-size:calc(8px + .5vw);
    }
    #main aside.leftSide hr {
        display:block;
    }
    .blockLetter {
        float:none;
        text-align: center;
        display:block;
        font-size:8vw;
    }
    header {
        grid-template-areas: 
            "slogan-left-top line-top slogan-right-top" 
            "shield title title" 
            "shield tagline tagline" 
            "slogan-left-bottom line-bottom slogan-right-bottom";
        grid-template-columns: 1fr 4fr 1fr;
        margin-bottom:1vw;
        padding-top: 2vw;
    }
    header .number {
        height: 4.5rem;
        width: 7.25rem;
        font-size: 2rem;
        right:3vw;
    }
    header .number::after {
        border-width: 0 7.25rem 1rem 0;
        bottom: -.95rem;
    }
    header .line.top .the {
        font-size:2vw;
    }
    header .line::before, header .line::after {
        height:.5rem;
        top:-.25rem;
    }
    header .line::after {
        height: .15rem;
        top:0.5rem;
    }
    header .line.bottom::before {
        top: .35rem;
    }
    header .slogan {
        display: flex;
        justify-content: space-between;
        font-size: 0.875vw;
        line-height: 1;
    }
    header .slogan.left {
        grid-area:slogan-left-top;
        padding-right:1em;
        align-self: center;
        padding-top: 0.25em;
    }
    header .slogan.right {
        grid-area:slogan-right-top;
        padding-left:1em;
        align-self: end;
        padding-bottom: 0.25em;
    }
    header .slogan.left.bottom {
        grid-area:slogan-left-bottom;
        padding-left:1em;
        padding-right:0;
    }
    header .slogan.right.bottom {
        grid-area:slogan-right-bottom;
        padding-right:1em;
        padding-left:0;
        padding-top:0.25em;
        padding-bottom:0;
    }
    header .slogan.bottom {
        -moz-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        transform: scale(-1, -1);
    }
    header .shield {
        margin-top: -2.5vw;
    }
    header h1 {
        align-self: end;
        padding-bottom: 1.25rem;
    }
    header .tagline {
        font-size:1.7vw;
    }
    aside#page-intro {
        grid-template-areas: "bounty weather zodiac edition lucky-numbers price";
        grid-template-columns: 4fr 2fr 2fr 2fr 1fr 1fr;
        grid-column-gap:2rem;
    }
    aside#page-intro .bounty a {
        height:100%;
    }
    aside#page-intro .bounty .bountyWrap {
        height:100%;
    }
    aside#page-intro .bounty .amount {
        font-size:5.5vw;
    }
    aside#page-intro .bounty .currency {
        font-size:1vw;
    }
    aside#page-intro .bounty .bountyName1, 
    aside#page-intro .bounty .bountyName2 {
        font-size:2.25vw;
    }
    aside#page-intro .bounty .bountyName1 {
        align-self: end;
    }
    aside#page-intro .bounty .details {
        font-size:0.875vw;
        align-self:start;
        padding-top: 0.25em;
    }
    aside#page-intro .weather h2, 
    aside#page-intro .zodiac h2 {
        font-size:1.75vw;
    }
    aside#page-intro .edition h2 {
        font-size:1.5vw;
    }
    aside#page-intro .edition .editionNum {
        font-size:1vw;
    }
    aside#page-intro .edition .editor {
        font-size:0.75vw;
        text-align:justify;
    }
    aside#page-intro .lucky-numbers {
        font-size:0.75vw;
    }
    aside#page-intro .edition .today {
        font-size:1vw;
    }
    aside#page-intro .price .value {
        height:auto;
        width:auto;
    }
    #mainWrap {
        border-width:.75rem;
    
    }
    #main {
        /* 15 rows */
        /*grid-template-rows: repeat(13, 1fr);*/
        /* 6 columns */
        /* grid-template-columns: repeat(7, 1fr); */
        grid-template-columns: 1fr 11vw 1fr 1fr 10vw 11vw auto;
        grid-column-gap: 1.5vw;
        grid-template-rows: auto auto 6vw 14vw auto auto auto 8vw 6vw 5vw;
    }
    #main .opening {
        gap: 2.5rem;
    }
    #main .opening .text {
        font-size:4vw;
    }
    #main .opening .exclusive {
        padding: 0.25rem 1.25rem 1rem;
    }
    #main .opening .text {
        border-width:1.25rem;
    }
    #main .opening .exclusive .inner {
        font-size:4vw;
    }
    #main .opening .exclusive .finger {
        font-size:4.5vw;
    }
    #main .title.line1 {
        grid-column: 1 / -1;
        grid-row:2;
        font-size:13vw;
    }
    #main .title.line2 {
        grid-column-start:3;
        grid-column-end: 5;
        grid-row:3;
        font-size:6vw;
        margin:0 1rem;
    }
    #main .title.line3 {
        grid-column-start:2;
        grid-column-end: 6;
        grid-row:4;
        font-size:13vw;
        margin:0;
        align-self: center;
    }
    #main .img {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start:5;
        grid-row-end: 8;
        padding-bottom: 1vw;
        border-width: 1.25rem;
    }

    #main .lede {
        grid-column-start:7;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end:10;
        writing-mode:vertical-rl;
        font-size:4vw;
    }
    #main .lede .finger {
        height:0;
        font-size:4vw;
        margin:0;
        line-height:1;
    }
    #main .lede .dupe {
        display:none;
    }
    #main .escape {
        display:block;
        grid-column-start:6;
        grid-column-end: 8;
        grid-row-start:10;
        grid-row-end: 11;
        font-family:var(--font-serif-headline);
        font-weight:bold;
        text-transform: uppercase;
        font-size: 5vw;
        text-align-last: justify;
        text-justify: inter-character;
    }
    #main .author {
        margin-left:0;
        font-size:1.5vw;
        padding-left:2rem;
    }
    #main .author .finger {
        font-size:4rem;
    }
    #main .txt1 {
        grid-column-start:5;
        grid-column-end: 6;
        grid-row-start:3;
        grid-row-end: 4;
        font-size:1em;
    }
    #main .txt2 {
        grid-column-start:1;
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end: 6;
    }
    #main .txt2 p:first-of-type {
        margin-top: 0;
    }
    #main .txt2 .photoWrap {
        padding-right: 12.5vw;
    }
    #main .txt3 {
        grid-column-start:6;
        grid-column-end: 7;
        grid-row-start:3;
        grid-row-end: 10;
        padding-bottom:1rem;
    }
    #main .txt3 .blockLetter {
        font-size: 6.5vw;
    }
    #main aside.leftSide {
        grid-column-start:1;
        grid-column-end: 2;
        grid-row-start:6;
        grid-row-end: 8;
        padding-top:0;
    }
    .fullReport {
        grid-column-start:6;
        grid-column-end: 8;
        grid-row-start:11;
        grid-row-end: 14;
        border-bottom:none;
    }
    .fullReport a .txt {
        font-size:3vw;
        line-height:1;
    }
    .fullReport a .pageNo {
        font-size:1.25vw;
    }
    #main .fullReport {
        margin:0;
    }
    #main .fullReport a {
        height:100%;
        margin:0;
        padding:1rem 2rem;
    }
    .subLine2mobile {
        grid-column-start:1;
        grid-column-end: 5;
        grid-row-start:8;
        grid-row-end: 9;
        font-size:7.5vw;
        display:block;
        line-height:0.875;
        border:none;
        padding:0;
    }
    .subLine2mobile span {
        display:none;
    }
    .subLine3 {
        grid-column-start:2;
        grid-column-end: 5;
        grid-row-start:9;
        grid-row-end: 10;
        font-size:5vw;
    }
    .subLine3 .finger {
        font-size:8vw;
    }
    .subText1 {
        grid-column-start:1;
        grid-column-end: 2;
        grid-row-start:9;
        grid-row-end: 13;
    }
    .subText1 .large {
        display:block;
    }
    .subText1 p {
        font-style: normal;
        display: flex;
        font-size: 0.9vw;
    }
    .subText1 .large {
        writing-mode: vertical-lr;
        transform: rotate(-180deg); 
        text-align: right;
        font-family: var(--font-thin-slab);
        text-transform: uppercase;
        font-size: 8.5vw;
        line-height: 0.7;
        float:left;
        letter-spacing: -0.5vw;
        padding-left: 2rem;
    }
    .subText2 {
        grid-column-start:5;
        grid-column-end: 6;
        grid-row-start:8;
        grid-row-end: 10;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .subText2 .initial-letter {
        font-size: 5.5vw;
    }
    .subText3 {
        grid-column-start:2;
        grid-column-end: 4;
        grid-row-start:10;
        grid-row-end: 16;
        column-count: 2;
        gap: 1.5em;
    }
    .subText3 .initial-letter {
        font-size: 6.5vw;
    }
    .subText4 {
        grid-column-start:4;
        grid-column-end: 6;
        grid-row-start:10;
        grid-row-end: 13;
    }
    /* .subStory {
        grid-column-start:4;
        grid-column-end: 6;
        grid-row-start:13;
        grid-row-end: 15;
    } */
    .subStory.sub2Line1 {
        grid-column-start:4;
        grid-column-end: 6;
        grid-row-start:13;
        grid-row-end: 15;
        font-size:5.25vw;
        margin-top:0;
    }
    .subStory.sub2Line2 {
        grid-column-start:6;
        grid-column-end: 8;
        grid-row-start:14;
        grid-row-end: 16;
        font-size:2vw;
        align-self:end;
    }
    .sub2Line2 .line1 {
        font-size:3vw;
    }
    .sub2Line1 hr {
        border-width:.75rem;
    }
    .sub2Line2 .line2 {
        font-size:4vw;
    }
    .subStory.sub2Line3 {
        grid-column-start:4;
        grid-column-end: 5;
        grid-row-start:15;
        grid-row-end: 16;
        font-size:3vw;
        padding: 0;
        margin: 0;
        background: none;
        color:inherit;
        border-bottom: 0.5rem solid var(--dark-bkgd);
        align-self:end;
        padding-bottom:.5rem;
    }
    .sub2Line3 a {
        color:inherit;
        padding:0;
    }
    .sub2Line3 a:hover,
    .sub2Line3 a:focus {
        background:none;
        color:var(--accent);
    }
    .subStory.sub2Text {
        grid-column-start:5;
        grid-column-end: 6;
        grid-row-start:15;
        grid-row-end: 16;
        font-size:1vw;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .readers-offers {
        grid-column-start:1;
        grid-column-end: 2;
        grid-row-start:13;
        grid-row-end: 16;
    }
    .readers-offers a {
        margin:0;
        padding:1.25rem;
    }
    .readers-offers .large {
        font-size:2.5vw;
    }
    .readers-offers .pageNo {
        margin-left:.5rem;
    }
}